---
interface Props {
    href: string;
}

const { href } = Astro.props;
---

<a
        href={href}
        target="_blank"
        rel="noopener noreferrer"
        class="inline-flex items-center px-6 py-3 rounded-lg bg-[#0066CC] hover:bg-[#0077ED] transition-colors duration-200"
>
    <svg class="w-5 h-5 mr-2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M17.0441 12.7074C17.0241 9.81742 19.4181 8.41742 19.5381 8.34742C18.2761 6.53742 16.2861 6.27742 15.5741 6.25742C13.8401 6.07742 12.1661 7.27742 11.2841 7.27742C10.3821 7.27742 9.02808 6.27742 7.54808 6.30742C5.63808 6.33742 3.86808 7.41742 2.91808 9.12742C0.948078 12.6174 2.39808 17.7774 4.29808 20.6074C5.24808 21.9874 6.35808 23.5374 7.83808 23.4874C9.28808 23.4374 9.85808 22.5874 11.5921 22.5874C13.2961 22.5874 13.8361 23.4874 15.3461 23.4574C16.8961 23.4374 17.8761 22.0574 18.7961 20.6674C19.8961 19.0874 20.3461 17.5374 20.3661 17.4674C20.3261 17.4474 17.0641 16.2374 17.0441 12.7074Z" fill="white"/>
        <path d="M14.4981 4.81742C15.2781 3.87742 15.8181 2.60742 15.6681 1.31742C14.5681 1.36742 13.2281 2.09742 12.4181 3.01742C11.6881 3.83742 11.0381 5.13742 11.2181 6.39742C12.4381 6.49742 13.6881 5.77742 14.4981 4.81742Z" fill="white"/>
    </svg>
    <span class="text-white font-semibold">Download on the App Store</span>
</a>